<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Connectlife</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">

            <div class="row offset-lg-4">
                <img src="../assets/img/ConnectLife.PNG">
            </div>
            <div class="row offset-lg-3">



            </div>

        </div>

    </div>
</div>
</body>

<link rel="stylesheet" href="../vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="../assets/css/connectlife-index.css">
</html>
