<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Connectlife{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <header>
        <h1>Connectlife</h1>
        <h2>Que la force vous guide</h2>
    </header>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
