<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Connectlife</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">

            <div class="row offset-lg-3">
                <img src="../assets/img/ConnectLife.PNG">
            </div>


            <div class="row offset-lg-2 formEntry">
                <div class="col-lg-2">
                    <label for="civility">Civilité*: </label>
                </div>
                <div class="offset-lg-1 col-lg-3" id="civility">
                    <input type="radio" value="Monsieur" name="civility">Monsieur
                    <input type="radio" value="Madame" name="civility">Madame
                </div>

            </div>
            <div class="row offset-lg-2 formEntry">
                <div class="col-lg-2">
                    <label for="name">Nom*: </label>
                </div>
                <div class="offset-lg-1 col-lg-2">
                    <input type="text" id="name">
                </div>

            </div>

            <div class="row offset-lg-2 formEntry">
                <div class="col-lg-2">
                    <label for="surname">Prénom*: </label>
                </div>
                <div class="offset-lg-1 col-lg-2">
                    <input type="text" id="surname">
                </div>

            </div>
            <div class="row offset-lg-2 formEntry">
                <div class="col-lg-2">
                    <label for="adress1">Adresse 1*: </label>
                </div>
                <div class="offset-lg-1 col-lg-2">
                    <input type="text" id="adress1">
                </div>

            </div>
            <div class="row offset-lg-2 formEntry">
                <div class="col-lg-2">
                    <label for="adress2">Adresse 2: </label>
                </div>
                <div class="offset-lg-1 col-lg-2">
                    <input type="text" id="adress2">
                </div>

            </div>
            <div class="row offset-lg-2 formEntry">
                <div class="col-lg-2">
                    <label for="postalCode">Code postal*: </label>
                </div>
                <div class="offset-lg-1 col-lg-2">
                    <input type="text" id="postalCode">
                </div>

            </div>
            <div class="row offset-lg-2 formEntry">
                <div class="col-lg-2">
                    <label for="city">Ville*: </label>
                </div>
                <div class="offset-lg-1 col-lg-2">
                    <input type="text" id="city">
                </div>

            </div>

                <div class="row offset-lg-2 formEntry">
                    Remplissez au moins un numéro de téléphone*
                </div>
                <div class="row offset-lg-2 formEntry">
                    <div class="col-lg-2">
                        <label for="personalPhone">Téléphone fixe: </label>
                    </div>
                    <div class="offset-lg-1 col-lg-2">
                        <input type="tel" id="personalPhone">
                    </div>

                </div>

                <div class="row offset-lg-2 formEntry">
                    <div class="col-lg-2">
                        <label for="mobilePhone">Téléphone mobile: </label>
                    </div>
                    <div class="offset-lg-1 col-lg-2">
                        <input type="tel" id="mobilePhone">
                    </div>

                </div>
            <div class="row offset-lg-2 formEntry">
                <div class="col-lg-2">
                    <label for="email">Email*: </label>
                </div>
                <div class="offset-lg-1 col-lg-2">
                    <input type="email" id="email">
                </div>

            </div>
            <div class="row offset-lg-10">*: Champ à saisie obligatoire</div>
            <div class="row offset-lg-11"><input type="submit" value="Valider"></div>

        </div>

    </div>
</div>
</body>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../assets/css/connectlife-form.css">
</html>
