<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Connectlife</title>
</head>
<body>
<div class="container-fluid" id="index">
    <div class="row">
        <div id="mainFrame">
            <div class="row offset-lg-3">
                <img src="../assets/img/ConnectLife.PNG">
            </div>
            <div class="row offset-1">
                <h4>Bonjour Madame/Monsieur
                </h4>
            </div>

            <p>Dans le cadre de la refonte de notre programme de fidélité, nous souhaitons nous assurer que les
                informations relatives à votre situation actuelle sont correctes. </p>
            <p>La cohérence de ces informations nous permettra de mieux vous communiquer nos promotions qui, nous le
                pensons, ne manqueront pas de vous surprendre !</p>
            <p>Pour cela rien de plus simple ! Un petit formulaire à remplir et vous recevrez instantanément sur votre
                boite mail un bon d'achat de 10€ utilisable dans votre magasin le plus proche. </p>


            <button class="offset-6" id="toForm">Vers le Formulaire et au delà !</button>
        </div>

    </div>
</div>
</body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../assets/css/connectlife-index.css">
</html>
